@{
    ViewBag.Title = "Buscar Destino";
}
<style>
    .form-group {
        margin: 1rem 0;
    }
</style>
@using (Html.BeginForm("BuscarDestino", "Vuelos", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="destino">Destino:</label>
        <input type="text" id="destino" name="destino" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Buscar</button>
}

<div>
    @Html.ActionLink("Regresar a la Lista", "Index", "Vuelos")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}