@{
    ViewBag.Title = "Buscar Destino";
}
<style>
    .form-group {
        margin: 1rem 0;
    }
</style>
@using (Html.BeginForm("BuscarFecha", "Vuelos", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-group">
    Digite el rango de las fechas de los vuelos a buscar. Formato: AAAA-MM-DD <br></br>  
    <label for="fecha1">Fecha 1:</label>
    <input type="text" id="fecha1" name="fecha1" class="form-control" />
    <label for="fecha2">Fecha 2:</label>
    <input type="text" id="fecha2" name="fecha2" class="form-control" />
</div>

    <button type="submit" class="btn btn-primary">Buscar</button>
}

<div>
    @Html.ActionLink("Regresar a la Lista", "Index", "Vuelos")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}