@{
    ViewBag.Title = "Buscar por Categoría";
}

<style>
    .form-group {
        margin: 1rem 0;
    }
</style>

@using (Html.BeginForm("BuscarCategoria", "ClienteProductos", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="categoriaID">Categoría:</label>
        <input type="text" id="categoriaID" name="categoria" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Buscar</button>
}

<div>
    @Html.ActionLink("Regresar al Catálogo", "Index", "ClienteProductos")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}